<nav class="navbar navbar-inverse">
  <h1>Choose your workout</h1>
</nav>
<div class="col-md-4">
  <h2>Upper Body</h2>
    <button type="button" class="btn btn-info btn-lg btn-block active">Pull Ups</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Bench Press</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Shrugs</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Shoulder Press</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Upright Rows</button>
</div>
<div class="col-md-4">
  <h2>Lower Body</h2>
    <button type="button" class="btn btn-info btn-lg btn-block active">Squats</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Deadlifts</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Lunges</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Calf Raises</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Reverse Hypers</button>
</div>

<div class="col-md-4">
  <h2>Cardio</h2>
    <button type="button" class="btn btn-info btn-lg btn-block active">Sprints</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Walking</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Jog</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Treadmill</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Bike Ride</button>
</div>
