<div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#homepage"><%= link_to "Spartan", users_path %>

              </a>
            </div>
            <div class="navbar-collapse collapse">
              <div class="right-inner-addon pull-right">

              </div>
              <ul class="nav navbar-nav">
                <li class="active"></li>
                <li><a href="#workouts"><%= link_to "", new_user_workout_path(current_user.id, @workouts), class: "fa fa-bicycle fa-2x" %></a></li>
                <li><a href="#meals"><%= link_to "", new_user_meal_path(current_user.id, @meals), class: "fa fa-cutlery fa-2x" %></a></li>
                <li><a href="signout"><%= link_to '', destroy_user_session_path, method: :delete, class: "fa fa-sign-out fa-2x" %></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <h2>List of Workouts</h2>

<div class="features">
  <div class="workout-features">
    <h3>Pull Ups</h3>
      <p>Make sure to focus on pulling yourself completely up to the bar, repeat until failure with neutral or wide-grip. Targets the latisumus dorsi.</p>
  </div>
  <div class="workout-features">
    <h3>Bench Press</h3>
      <p>Pinch scapulas back and keep elbows pointed inward, complete 4 sets of 6. Excellent for development of the pectoralis major and triceps.</p>
  </div>
  <div class="workout-features">
    <h3>Shrugs</h3>
      <p>Can be done with a barbell or dumbells. These are to never move and need to be held with a firm grip. Ensure to have shoulders completely relaxed at start of lift. With a shrugging motion bring shoulders upward towards ears. Excellent way to develop stronger traps, shoulders and neck.</p>
  </div>
  <div class="workout-features">
    <h3>Shoulder Press</h3>
      <p>Can be done with a barbell or dumbells. Sit in bench with back support in upright position. Begin lift with weight lowered on chest and extend in upward pressing motion. This is a sure fire way to develop stronger deltoids.</p>
  </div>
  <div class="workout-features">
    <h3>Upright Rows</h3>
      <p>Best to complete this exercise with a barbell but can be done with dumbells. Stand up and hold bar towards center in front of your body. As you bring bar up to chin, it is important to keep elbows pointing outward as you maintain grip. This exercise has a great all-around benefit to developing the shoulders.</p>
  </div>
  <div class="workout-features">
    <h3>Squats</h3>
  </div>
  <div class="workout-features">
    <h3>Deadlifts</h3>
  </div>
  <div class="workout-features">
    <h3>Lunges</h3>
  </div>
  <div class="workout-features">
    <h3>Calf Raises</h3>
  </div>
  <div class="workout-features">
    <h3>Reverse Hypers</h3>
  </div>


  <div class="workout-features">
    <h3>Sprints</h3>
  </div>
  <div class="workout-features">
    <h3>Walking</h3>
  </div>
  <div class="workout-features">
    <h3>Jog</h3>
  </div>
  <div class="workout-features">
    <h3>Treadmill</h3>
  </div>
  <div class="workout-features">
    <h3>Bike Ride</h3>
  </div>
