<div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#homepage"><%= link_to "Spartan", users_path %>

              </a>
            </div>
            <div class="navbar-collapse collapse">
              <div class="right-inner-addon pull-right">

              </div>
              <ul class="nav navbar-nav">
                <li class="active"></li>
                <li><a href="#workouts"><%= link_to "", new_user_workout_path(current_user.id, @workouts), class: "fa fa-bicycle fa-2x" %></a></li>
                <li><a href="#meals"><%= link_to "", new_user_meal_path(current_user.id, @meals), class: "fa fa-cutlery fa-2x" %></a></li>
                <li><a href="signout"><%= link_to '', destroy_user_session_path, method: :delete, class: "fa fa-sign-out fa-2x" %></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <h1>List of Workouts</h1>

<div class="col-md-4">
  <h2>Upper Body</h2>
    <button type="button" class="btn btn-info btn-lg btn-block active"><h3>Pull Ups</h3>
      <p>Make sure to focus on pulling yourself completely up to the bar.</p>
    </button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Bench Press</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Shrugs</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Shoulder Press</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Upright Rows</button>
</div>
<div class="col-md-4">
  <h2>Lower Body</h2>
    <button type="button" class="btn btn-info btn-lg btn-block active">Squats</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Deadlifts</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Lunges</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Calf Raises</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Reverse Hypers</button>
</div>

<div class="col-md-4">
  <h2>Cardio</h2>
    <button type="button" class="btn btn-info btn-lg btn-block active">Sprints</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Walking</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Jog</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Treadmill</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Bike Ride</button>
</div>
