<nav class="navbar navbar-inverse">
  <h1>Workouts</h1>
</nav>
<div class="col-md-3">
  <h3>Cardio</h3>
    <% simple_form_for([current_user, @workout] ) do |f| %>
    <%= f.select :name, @cardio_options %>
    <% hidden_field :type, "cardio" %>
    <% f.submit %>
    <% end %>
</div>
<div class="col-md-3">
  <h3>Upper Body</h3>
  <% simple_form_for([current_user, @workout] ) do |f| %>
  <%= f.select :name, @upper_body_options %>
  <% hidden_field :type, "upper_body" %>
  <% f.submit %>
  <% end %>
</div>
<div class="col-md-3">
  <h3>Lower Body</h3>
  <% simple_form_for([current_user, @workout] ) do |f| %>
  <%= f.select :name, @lower_body_options %>
  <% hidden_field :type, "lower_body" %>
  <% f.submit %>
  <% end %>
</div>
