<div class="top-header">
  <header class="wrapper-header" style="width: auto; position: relative;" role="navigation">
    <div class="wrapper-header-inner">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <a class="logo" href="" title="Go to Homepage">
        </a>
      </button>
      <div class="menu">
        <ul class="menu-links">

          <span class="menu-item"></span>

          <span class="menu-item2"></span>


          <span class="menu-item3"></span>


          <span class="menu-item4"></span>

          <li class="signout-link">
            <span class="menu-item5"><%= link_to '', destroy_user_session_path, method: :delete, class: "fa fa-sign-out fa-2x" %></span>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="header-container" style="width: auto; position: relative; margin-top: auto;">
    <div class="adaptive-container">
      <h1 class="landing-header">Spartan. Embark on your journey.</h1>
    </div>
  </div>
</div>

<div id="user-container">
  <div id="user-content">
    <div id="user-selections">
      <a href="workout-icon" class="user-workouts" alt="User selects workouts">
        <img src="" alt>
          <%= link_to "", new_user_workout_path(current_user.id, @workouts), class: "fa fa-bicycle fa-5x" %></a>
            <h3>Plan Your Workout</h3>
              <h5>Choose an exercise for upper body, lower body and cardio from our suggestions.</h5>


      <a href="meal-icon">
        <img src="" alt>
          <%= link_to "", new_user_meal_path(current_user.id, @meals), class: "fa fa-cutlery fa-5x" %></a>
            <h3>Plan Your Meal</h3>
              <h5>We have a selection of proteins and sides to help fuel you for your day.</h5>
    </div>
  </div>
</div>
<div class="spotify-players">
  <div class="player1">
    <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A2lkQd5T32QHDOfFkEIPJKz" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </div>
  <div class="player2">
    <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A5PW8nAtvf2HV8RYZFd4IrX" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>


