
  <body style="background-image:">
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Spartan</a>
            </div>
            <div class="navbar-collapse collapse">
              <div class="right-inner-addon pull-right">
                <i class="fa fa-search"></i>
                <input type="search" class="form-control" placeholder="Spartan"/>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#"></a></li>
                <li><a href="#workouts">Workouts</a></li>
                <li><a href="#meals">Meals</a></li>
                <li><a href="#playlist">Playlist</a></li>
                <li class="dropdown">

                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Friends</li>
                    <li><a href="#">Updates</a></li>
                    <li><a href="#">Updates</a></li>
                    <li><a href="#">Updates</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src= "http://placehold.it/1200x315" alt="Snatch" >
      <div class="carousel-caption">
          <h3>Fitness</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
          <h3>Nutrition</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
          <h3>Music</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
          <h3>Social</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
          <h3>Track Progress</h3>
      </div>
    </div>
  </div>
    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>



    </div>

    <div class="container feature">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="" alt="fitness image" style="width: 140px; height: 140px;"/>
          <h2>Fitness</h2>
          <p>Write something about fitness component.</p>
          <p><a class="btn btn-default" href="#" role="button">Plan workout &raquo;</a></p>
        </div>
         <div class="col-lg-4">
          <img class="img-circle" src="" alt="fitness image" style="width: 140px; height: 140px;"/>
          <h2>Nutrition</h2>
          <p>Write something about nutrition component.</p>
          <p><a class="btn btn-default" href="#" role="button">Plan your next meal &raquo;</a></p>
        </div>
         <div class="col-lg-4">
          <img class="img-circle" src="" alt="fitness image" style="width: 140px; height: 140px;"/>
          <h2>Social</h2>
          <p>Write something about social component.</p>
          <p><a class="btn btn-default" href="#" role="button">Friends &raquo;</a></p>
        </div>
      </div>
    </div>

    <div class"nav navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <p class="navbar-text pull-left">D. Kerr</p>
        <p class="navbar-text pull-right">Spartan</p>
      </div>
    </div>



