<h1>Users Dash</h1>

<button type="button" class="btn btn-default btn-lg">Workout</button>
<button type="button" class="btn btn-default btn-lg">Meal</button>
<button type="button" class="btn btn-default btn-lg">Music</button>
<button type="button" class="btn btn-default btn-lg">Journal</button>
