<nav class="navbar navbar-inverse">
  <h1>Users Dash</h1>
</nav>
<div class="col-md-12">
  <button type="button" class="btn btn-info btn-lg btn-block active"><%= link_to 'Workout', new_user_workout_path(current_user) %></button>
  <button type="button" class="btn btn-info btn-lg btn-block active"><%= link_to 'Meal', new_user_meal_path(current_user) %></button>
  <button type="button" class="btn btn-info btn-lg btn-block active">Music</button>
  <button type="button" class="btn btn-info btn-lg btn-block active">Journal</button>
  <button type="button" class="btn btn-info btn-lg btn-block active">Friends</button>
</div>
