<div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#homepage"><%= link_to "Spartan", users_path %>

              </a>
            </div>
            <div class="navbar-collapse collapse">
              <div class="right-inner-addon pull-right">

              </div>
              <ul class="nav navbar-nav">
                <li class="active"></li>
                <li><a href="#workouts"><%= link_to "", new_user_workout_path(current_user.id, @workouts), class: "fa fa-bicycle fa-2x" %></a></li>
                <li><a href="#meals"><%= link_to "", new_user_meal_path(current_user.id, @meals), class: "fa fa-cutlery fa-2x" %></a></li>
                <li><a href="signout"><%= link_to '', destroy_user_session_path, method: :delete, class: "fa fa-sign-out fa-2x" %></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <h2>List of Meals</h2>

<div class="features">
  <div class="meal-features">
    <h3>Chicken</h3>
      <p></p>
  </div>
  <div class="meal-features">
    <h3>Grass-fed Beef</h3>
      <p></p>
  </div>
  <div class="meal-features">
    <h3>Fish</h3>
  </div>
  <div class="meal-features">
    <h3>Shrimp</h3>
  </div>
  <div class="meal-features">
    <h3>Beans</h3>
  </div>
  <div class="meal-features">
    <h3>Pork</h3>
  </div>

  <div class="meal-features">
    <h3>Brown Rice</h3>
  </div>
  <div class="meal-features">
    <h3>Salad</h3>
  </div>
  <div class="meal-features">
    <h3>Pasta</h3>
  </div>
  <div class="meal-features">
    <h3>Potatoes</h3>
  </div>
