<nav class="navbar navbar-inverse">
  <h1>Meals</h1>
</nav>
<div class="col-md-6">
  <h2>Choose your protein</h2>
    <button type="button" class="btn btn-info btn-lg btn-block active">Chicken</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Grass-fed Beef</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Fish</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Shrimp</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Beans</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Pork</button>
</div>

<div class="col-md-6">
  <h2>Choose your side</h2>
    <button type="button" class="btn btn-info btn-lg btn-block active">Brown Rice</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Salad</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Pasta</button>
    <button type="button" class="btn btn-info btn-lg btn-block active">Potatoes</button>
</div>
