<nav class="navbar navbar-inverse">
  <h1>Meals</h1>
</nav>
<div class="col-md-3">
  <h2>Meals</h2>
    <%= simple_form_for([current_user, @meal] ) do |f| %>
        <%= f.select :protein, @protein_options %>
        <%= f.select :sides, @side_options %>
      <%= f.submit %>
    <% end %>
</div>
