@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-social';

.carousel-inner {
margin-left: auto;
margin-right: auto;
width: 1200px;
}
body {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #000;
}

.registration_header {
  background-color: #F8F8F8;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 375;
}

.navbar-header {
  margin: auto;
  text-align: center;
}

.background {
  color: #121314;
}

.btn-facebook {
  color: #3B5998;
}

.btn-spotify {
  color: #2CBF5F;
}

.btn-google-plus {
  color: #DD4B39;
}

.login {
  background-color: #222326;
}

.form-group {
  width: 40%;
}

.signin-container {
  background-image: url(http://www.crossfit.com/mt-archive2/RachelMulhernGames2010OrlandoRopeUseYourFeet.jpg); /* Find URL */
  height: 575px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.login-container {
  background-image: url(http://www.crossfit.com/mt-archive2/RachelMulhernGames2010OrlandoRopeUseYourFeet.jpg); /* Find URL */
  height: 575px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
