@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-social';

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
}

#navbar-header {
  margin: auto;
  text-align: center;
}

#background {
  color: #121314;
}

#btn-facebook {
  color: #3B5998;
}
