@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-social';
/*@import 'users';*/
.player2 {
  width: 300px;
  height: 300px;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  float: right;
}
.span.menu-item {
  display: inline;
}
.header-container {
  height: 107px;
  background: #121314;
}
.wrapper-header.logo {
  display: inline-block;
  line-height: 60px;
  overflow: hidden;
  text-indent: -9999px;
  width: 123px;
  vertical-align: top;
  margin-right: 20px;
  position: relative;
}
.menu-links ul li {
  display: block;
  float: left;

}

.spotify-players {
  background: #30302F;
  width: 100%;
  height: 400px;
}
.adaptive-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
}
ul.menu-links {
  display: inline-block;
  width: 440px;
  height: 60px;
}
.wrapper-header {
  width: auto;
  position: relative;
  height: 60px;
  z-index: 1;
  background: #121314;
}
.wrapper-header-inner {
  max-width: 960px;
  max-height: 64px;
  margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
#user-container {
  width: 100%;
  position: relative;
}
#user-content {
  display: block;
  padding-top: 1px;
  margin-top: -1px;
}
#user-selections {
  margin-top: 20px;
  padding-bottom: 100px;
  text-align: center;
}
.user-workouts {
  width: 460px;
  height: 200px;
}
#user-selections.user-workouts {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  text-align: left;
  background-size: auto 100%;
  max-width: 460px;
  height: 200px;
  width: 100%;
  background-position: center center;
  text-decoration: none;
}

.player1 {
  width: 300px;
  height: 300px;
  display: inline;
  margin-right: auto;
  margin-left: auto;
  float: left;
}
.workout-icon {
  background-color: #F8F8F8;
  width: 145px;
  height: 80px;

}

.title {
  text-align: center;
  font-weight: bold;
  font-color: #F8F8F8;
}

.meal-icon {
  background-color: #121314;
  width: 145px;
  height: 80px;

}
.music-icon {
  background-color: #F8F8F8;
  width: 145px;
  height: 80px;
}

.navbar-fixed-bottom {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: 450px;
}
.sign-out-icon {
  background-color: #121314;
  width: 145px;
  height: 80px;
}
.carousel-inner {
margin-left: auto;
margin-right: auto;
width: 1200px;
}
body {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #F8F8F8;
}
.top-header {
  background: #121314;
}

.registration_header {
  background-color: #F8F8F8;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 375;
}

.navbar-header {
  margin: auto;
  text-align: center;
}

.background {
  color: #121314;
}

.btn-facebook {
  color: #3B5998;
}

.btn-spotify {
  color: #2CBF5F;
}

.btn-google-plus {
  color: #DD4B39;
}

.login {
  background-color: #222326;
}

.workout-selector {
  margin-left: auto;
  margin-right: auto;
}

.btn-facebook {
  width: 512px;
}
.oauth-buttons {
  width: 512px;
  margin-left: auto;
  margin-right: auto;
}
.form-group {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.signin-submit {
  margin-right: auto;
  margin-left: auto;
  width: 512px;
}
#workout-selector {
  margin-right: auto;
  margin-left: auto;
}
.meal-selector {
  margin-left: auto;
  margin-right: auto;
}
.workout-selector {
  margin-left: auto;
  margin-right: auto;
}
.signin-container {
  background-image: url(http://www.crossfit.com/mt-archive2/RachelMulhernGames2010OrlandoRopeUseYourFeet.jpg); /* Find URL */
  height: 575px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.login-container {
  background-image: url(http://www.crossfit.com/mt-archive2/RachelMulhernGames2010OrlandoRopeUseYourFeet.jpg); /* Find URL */
  height: 575px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
